<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini-devhub</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <h2 style="color: aquamarine; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;" class="heading">Mini-devhub</h2>
                <h2>Browse</h2>
    <div>
        <ul>
           <a href="#about.html"><li>About </li></a> 
           <a href=""><li>Sign up</li></a> 
           <a href=""><li>Login</li></a> 
           <a href=""><li>Resources</li></a> 
        </ul>
    </div>

    <div class="signup">
        <label for="text">Full Names:</label>
        <input type="text" placeholder="John Doe">
<br>
<br>
        <label for="password">Password:</label>
        <input type="password" placeholder="dev@5892">
    </div>

    <section id="about">
         <p>
        <p  class="info">What is minidev hub?</p>
Mini dev hub is a resource management centre where developers can find learning resources,add learning resources,edit existing resources and be able to delete resources that they no-longer need.
You want find a mini library of dev resources?
Please sign up to explore more! 
    </p>
    </section>
</body>
</html>